body {
    background-color: #0A3555;
}

.nav-text {
    font-family: Exo;
}

.build-text {
    text-align: center;
    font-family: Exo;
    color: white;
    font-size: 100%;
}

.build-text .nh1 {
    font-size: 200%;
}

.build-text .nh2 {
    font-size: 100%;
}


.home-text {
  font-family: Candara;
  color: white;
  font-size: 100%;
}

.home-text .left-h1 {
  text-align: left;
  font-size: 500%;
  line-height : 90px;
  color: #FFFFFF;
}

.home-text .left-h2 {
  text-align: left;
  font-size: 200%;
  color: #C0C0C0;
}

.button {
  background-color: #5EA8BF;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
  margin:2% 0%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-sum {
  background: #072B45;
  color: white;
}

.title-column {
  padding-top: 1cm;
  float: left;
  width: 33.33%;
  color: #FFFFFF;
  font-size: 150%;
  text-align: center;
}

.flvtext-column {
  float: left;
  width: 33.33%;
  color: #C0C0C0;
  font-size: 100%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #628BA1 !important;
    font-family: Exo !important;
    color: black !important;
    margin:1% 0% !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: rgba(0, 0, 0, 0.5) !important;
    font-family: Exo !important;
    color: rgb(167, 167, 167) !important;
    margin:1% 0% !important;
    border-width: 0% !important;
}

.disp-main {
    background-color: #072B45;
    border-width: 2%;
    border-color: #0A3555;
    padding:5%;
}

.disp-sec {
    background-color: #114266;
    border-width: 2%;
    border-color: #0A3555;
    padding:5%;
}

.disp-more {
    background-color: rgba(0, 0, 0, 0.5);
    border-width: 2%;
    border-color: #0A3555;
    padding:5%;
}

@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
    src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
        format("embedded-opentype"),
      url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0")
        format("woff2"),
      url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0")
        format("woff"),
      url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0")
        format("truetype"),
      url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
        format("svg");
  }